:root {
  --bronze-1: #fff1ec;
  --bronze-2: #ffe7e2;
  --bronze-3: #fbdfda;
  --bronze-4: #efd3cd;
  --bronze-5: #dcc0bb;
  --bronze-6: #caada8;
  --bronze-7: #b79b96;
  --bronze-8: #a58984;
  --bronze-9: #937873;
  --bronze-10: #826762;
  --bronze-11: #715752;
  --bronze-12: #604743;
  --bronze-13: #513733;
  --bronze-14: #412925;
  --bronze-15: #321a17;
  --bronze-16: #230d0a;
  --gold-1: #fff6e1;
  --gold-2: #fcecd7;
  --gold-3: #f3e4cf;
  --gold-4: #e7d8c3;
  --gold-5: #d4c5b0;
  --gold-6: #c2b29d;
  --gold-7: #b0a08c;
  --gold-8: #9e8e7a;
  --gold-9: #8c7d69;
  --gold-10: #7b6c58;
  --gold-11: #6a5c48;
  --gold-12: #5a4c38;
  --gold-13: #4a3c28;
  --gold-14: #3b2d1a;
  --gold-15: #2c1f0b;
  --gold-16: #1e1101;
  --emerald-1: #eefeea;
  --emerald-2: #e4f4e0;
  --emerald-3: #dbecd8;
  --emerald-4: #cfe0cb;
  --emerald-5: #bccdb9;
  --emerald-6: #aabba6;
  --emerald-7: #98a894;
  --emerald-8: #869782;
  --emerald-9: #758571;
  --emerald-10: #647460;
  --emerald-11: #546350;
  --emerald-12: #445340;
  --emerald-13: #344431;
  --emerald-14: #263523;
  --emerald-15: #182614;
  --emerald-16: #0a1808;
  --sapphire-1: #e2feff;
  --sapphire-2: #d8f4fe;
  --sapphire-3: #d0ecf5;
  --sapphire-4: #c3e0e9;
  --sapphire-5: #b1cdd6;
  --sapphire-6: #9ebac4;
  --sapphire-7: #8ca8b2;
  --sapphire-8: #7a96a0;
  --sapphire-9: #69858e;
  --sapphire-10: #58747d;
  --sapphire-11: #47636c;
  --sapphire-12: #38535c;
  --sapphire-13: #27434c;
  --sapphire-14: #18343d;
  --sapphire-15: #08262e;
  --sapphire-16: #001820;
  --amethyst-1: #fbf4ff;
  --amethyst-2: #f1eaff;
  --amethyst-3: #e9e2f9;
  --amethyst-4: #ddd6ed;
  --amethyst-5: #cac3da;
  --amethyst-6: #b8b0c8;
  --amethyst-7: #a69eb5;
  --amethyst-8: #948da4;
  --amethyst-9: #837b92;
  --amethyst-10: #726a81;
  --amethyst-11: #615a70;
  --amethyst-12: #514a5f;
  --amethyst-13: #423a50;
  --amethyst-14: #332c40;
  --amethyst-15: #241d31;
  --amethyst-16: #171023;
  --stone-1: #fdf7f6;
  --stone-2: #f3edec;
  --stone-3: #ebe4e4;
  --stone-4: #dfd8d8;
  --stone-5: #ccc6c5;
  --stone-6: #b9b3b3;
  --stone-7: #a7a1a1;
  --stone-8: #958f8f;
  --stone-9: #847e7e;
  --stone-10: #736d6d;
  --stone-11: #625d5c;
  --stone-12: #524d4c;
  --stone-13: #423d3d;
  --stone-14: #332e2e;
  --stone-15: #252020;
  --stone-16: #171313;
  --gray-1: #f8f8f8;
  --gray-2: #eeeeee;
  --gray-3: #e6e6e6;
  --gray-4: #dadada;
  --gray-5: #c7c7c7;
  --gray-6: #b5b5b5;
  --gray-7: #a3a3a3;
  --gray-8: #919191;
  --gray-9: #7f7f7f;
  --gray-10: #6f6f6f;
  --gray-11: #5e5e5e;
  --gray-12: #4e4e4e;
  --gray-13: #3f3f3f;
  --gray-14: #303030;
  --gray-15: #222222;
  --gray-16: #141414;
  --slate-1: #f2faff;
  --slate-2: #e8f0f5;
  --slate-3: #e0e8ed;
  --slate-4: #d3dbe0;
  --slate-5: #c1c9cd;
  --slate-6: #aeb6bb;
  --slate-7: #9ca4a9;
  --slate-8: #8b9297;
  --slate-9: #7a8185;
  --slate-10: #697074;
  --slate-11: #585f64;
  --slate-12: #494f53;
  --slate-13: #394044;
  --slate-14: #2b3135;
  --slate-15: #1d2326;
  --slate-16: #101519;
  --mauve-1: #f6f8ff;
  --mauve-2: #eceef7;
  --mauve-3: #e3e6ef;
  --mauve-4: #d7dae3;
  --mauve-5: #c5c7d0;
  --mauve-6: #b2b4bd;
  --mauve-7: #a0a2ab;
  --mauve-8: #8e9099;
  --mauve-9: #7d7f88;
  --mauve-10: #6c6e76;
  --mauve-11: #5c5e66;
  --mauve-12: #4c4e55;
  --mauve-13: #3c3e46;
  --mauve-14: #2e2f37;
  --mauve-15: #202128;
  --mauve-16: #12141a;
  --red-1: #ffece7;
  --red-2: #ffd3ca;
  --red-3: #ffb0a6;
  --red-4: #ff9e95;
  --red-5: #ff7e78;
  --red-6: #ff6966;
  --red-7: #ff5454;
  --red-8: #fe3e42;
  --red-9: #e82230;
  --red-10: #d3001c;
  --red-11: #b9000f;
  --red-12: #9b000b;
  --red-13: #7e0008;
  --red-14: #630006;
  --red-15: #480003;
  --red-16: #300002;
  --orange-1: #fff0dc;
  --orange-2: #ffdcb3;
  --orange-3: #ffc277;
  --orange-4: #ffb25f;
  --orange-5: #ff9727;
  --orange-6: #ff8300;
  --orange-7: #ff7000;
  --orange-8: #ef5c00;
  --orange-9: #da4800;
  --orange-10: #c53300;
  --orange-11: #ad2400;
  --orange-12: #911d00;
  --orange-13: #761600;
  --orange-14: #5c1000;
  --orange-15: #430a00;
  --orange-16: #2c0500;
  --amber-1: #fff2d4;
  --amber-2: #ffe19f;
  --amber-3: #ffd02f;
  --amber-4: #ffc600;
  --amber-5: #ffb400;
  --amber-6: #f9a100;
  --amber-7: #e58e00;
  --amber-8: #d27b00;
  --amber-9: #bf6900;
  --amber-10: #ab5600;
  --amber-11: #954700;
  --amber-12: #7d3b00;
  --amber-13: #652f00;
  --amber-14: #4f2300;
  --amber-15: #391800;
  --amber-16: #250e00;
  --yellow-1: #fffad3;
  --yellow-2: #fff09f;
  --yellow-3: #ffe636;
  --yellow-4: #fed800;
  --yellow-5: #f4c200;
  --yellow-6: #e1af00;
  --yellow-7: #ce9c00;
  --yellow-8: #bb8a00;
  --yellow-9: #a97800;
  --yellow-10: #976600;
  --yellow-11: #835500;
  --yellow-12: #6d4700;
  --yellow-13: #583900;
  --yellow-14: #442b00;
  --yellow-15: #311e00;
  --yellow-16: #1f1200;
  --lime-1: #f0ffd9;
  --lime-2: #defcac;
  --lime-3: #cafb61;
  --lime-4: #bcf042;
  --lime-5: #a6de00;
  --lime-6: #94cb00;
  --lime-7: #83b800;
  --lime-8: #72a500;
  --lime-9: #619300;
  --lime-10: #518000;
  --lime-11: #436e00;
  --lime-12: #375c00;
  --lime-13: #2c4a00;
  --lime-14: #213900;
  --lime-15: #162800;
  --lime-16: #0c1900;
  --grass-1: #e7ffe1;
  --grass-2: #caffbf;
  --grass-3: #a2ff8d;
  --grass-4: #90f878;
  --grass-5: #6fe852;
  --grass-6: #5bd43c;
  --grass-7: #46c121;
  --grass-8: #2fae00;
  --grass-9: #0f9b00;
  --grass-10: #008900;
  --grass-11: #007600;
  --grass-12: #006200;
  --grass-13: #004f00;
  --grass-14: #003d00;
  --grass-15: #002c00;
  --grass-16: #001b00;
  --green-1: #deffea;
  --green-2: #b7ffd1;
  --green-3: #71ffb0;
  --green-4: #52fea0;
  --green-5: #00ee85;
  --green-6: #00db73;
  --green-7: #00c761;
  --green-8: #00b44f;
  --green-9: #00a23d;
  --green-10: #008f2b;
  --green-11: #007b1e;
  --green-12: #006718;
  --green-13: #005312;
  --green-14: #00400c;
  --green-15: #002e07;
  --green-16: #001d04;
  --teal-1: #d8fff3;
  --teal-2: #a6ffe4;
  --teal-3: #63ffd7;
  --teal-4: #00ffc7;
  --teal-5: #00f2b1;
  --teal-6: #00de9f;
  --teal-7: #00cb8d;
  --teal-8: #00b77c;
  --teal-9: #00a56b;
  --teal-10: #00925a;
  --teal-11: #007e4c;
  --teal-12: #00693e;
  --teal-13: #005532;
  --teal-14: #004225;
  --teal-15: #002f1a;
  --teal-16: #001e0f;
  --mint-1: #dafffd;
  --mint-2: #adfff9;
  --mint-3: #83fff4;
  --mint-4: #06faed;
  --mint-5: #00eadc;
  --mint-6: #00d7c9;
  --mint-7: #00c3b7;
  --mint-8: #00b1a5;
  --mint-9: #009e93;
  --mint-10: #008c82;
  --mint-11: #00786f;
  --mint-12: #00645d;
  --mint-13: #00514b;
  --mint-14: #003e39;
  --mint-15: #002d29;
  --mint-16: #001c19;
  --cyan-1: #daffff;
  --cyan-2: #b6fcff;
  --cyan-3: #89faff;
  --cyan-4: #51f2ff;
  --cyan-5: #00e3ff;
  --cyan-6: #00d1f2;
  --cyan-7: #00bdde;
  --cyan-8: #00aacb;
  --cyan-9: #0098b8;
  --cyan-10: #0086a6;
  --cyan-11: #007390;
  --cyan-12: #006079;
  --cyan-13: #004d62;
  --cyan-14: #003b4c;
  --cyan-15: #002a37;
  --cyan-16: #001a23;
  --sky-1: #e3fbff;
  --sky-2: #c1f4ff;
  --sky-3: #a3eeff;
  --sky-4: #71e3ff;
  --sky-5: #38d1ff;
  --sky-6: #12bfff;
  --sky-7: #00adff;
  --sky-8: #009bf6;
  --sky-9: #008ae0;
  --sky-10: #0079cb;
  --sky-11: #0068b1;
  --sky-12: #005793;
  --sky-13: #004776;
  --sky-14: #00375b;
  --sky-15: #002842;
  --sky-16: #00192a;
  --blue-1: #ecf8ff;
  --blue-2: #d6ecff;
  --blue-3: #bcdeff;
  --blue-4: #a1d4ff;
  --blue-5: #76c3ff;
  --blue-6: #4eb4ff;
  --blue-7: #39a1ff;
  --blue-8: #218eff;
  --blue-9: #007bf7;
  --blue-10: #0068e3;
  --blue-11: #0057c9;
  --blue-12: #0048a8;
  --blue-13: #003a89;
  --blue-14: #002c6b;
  --blue-15: #001f4f;
  --blue-16: #001234;
  --indigo-1: #f4f4ff;
  --indigo-2: #e4e6ff;
  --indigo-3: #d1d5ff;
  --indigo-4: #c0c8ff;
  --indigo-5: #a6b2ff;
  --indigo-6: #8fa1ff;
  --indigo-7: #7e8dff;
  --indigo-8: #6e7aff;
  --indigo-9: #5f67ff;
  --indigo-10: #5153ee;
  --indigo-11: #4443d3;
  --indigo-12: #3837b1;
  --indigo-13: #2c2c90;
  --indigo-14: #212171;
  --indigo-15: #161753;
  --indigo-16: #0c0d37;
  --purple-1: #fdf2ff;
  --purple-2: #f8e0ff;
  --purple-3: #f8caff;
  --purple-4: #edbcff;
  --purple-5: #dda3ff;
  --purple-6: #cb90ff;
  --purple-7: #b87dff;
  --purple-8: #a76afb;
  --purple-9: #9557e6;
  --purple-10: #8444d2;
  --purple-11: #7235b9;
  --purple-12: #5f2c9b;
  --purple-13: #4c227f;
  --purple-14: #3b1a63;
  --purple-15: #2a1148;
  --purple-16: #1a092f;
  --magenta-1: #ffeeff;
  --magenta-2: #ffd8ff;
  --magenta-3: #ffbdff;
  --magenta-4: #ffadff;
  --magenta-5: #ff92ff;
  --magenta-6: #f57ffc;
  --magenta-7: #e16ce9;
  --magenta-8: #cd59d5;
  --magenta-9: #ba46c2;
  --magenta-10: #a631af;
  --magenta-11: #912399;
  --magenta-12: #791c80;
  --magenta-13: #621668;
  --magenta-14: #4c1051;
  --magenta-15: #37093b;
  --magenta-16: #230526;
  --pink-1: #ffecfa;
  --pink-2: #ffd4f2;
  --pink-3: #ffb3ec;
  --pink-4: #ffa2e0;
  --pink-5: #ff85ce;
  --pink-6: #ff73c7;
  --pink-7: #fc60b5;
  --pink-8: #e74ca3;
  --pink-9: #d33791;
  --pink-10: #be1e7f;
  --pink-11: #a60a6d;
  --pink-12: #8b095b;
  --pink-13: #710749;
  --pink-14: #580538;
  --pink-15: #400328;
  --pink-16: #2a0219;
  --crimson-1: #ffebf0;
  --crimson-2: #ffd1de;
  --crimson-3: #ffacca;
  --crimson-4: #ff9bbc;
  --crimson-5: #ff7aa5;
  --crimson-6: #ff6693;
  --crimson-7: #ff5182;
  --crimson-8: #fb3a71;
  --crimson-9: #e51d60;
  --crimson-10: #d00050;
  --crimson-11: #b60042;
  --crimson-12: #990036;
  --crimson-13: #7c002b;
  --crimson-14: #610020;
  --crimson-15: #470016;
  --crimson-16: #2f000c;
  --p3_bronze-1: oklch(0.98 0.032 30);
  --p3_bronze-2: oklch(0.95 0.032 30);
  --p3_bronze-3: oklch(0.925 0.032 30);
  --p3_bronze-4: oklch(0.888 0.033 30);
  --p3_bronze-5: oklch(0.83 0.033 30);
  --p3_bronze-6: oklch(0.772 0.034 30);
  --p3_bronze-7: oklch(0.714 0.034 30);
  --p3_bronze-8: oklch(0.656 0.035 30);
  --p3_bronze-9: oklch(0.598 0.035 30);
  --p3_bronze-10: oklch(0.54 0.036 30);
  --p3_bronze-11: oklch(0.482 0.036 30);
  --p3_bronze-12: oklch(0.424 0.036 30);
  --p3_bronze-13: oklch(0.366 0.037 30);
  --p3_bronze-14: oklch(0.308 0.037 30);
  --p3_bronze-15: oklch(0.25 0.038 30);
  --p3_bronze-16: oklch(0.192 0.038 30);
  --p3_gold-1: oklch(0.98 0.032 75);
  --p3_gold-2: oklch(0.95 0.032 75);
  --p3_gold-3: oklch(0.925 0.032 75);
  --p3_gold-4: oklch(0.888 0.033 75);
  --p3_gold-5: oklch(0.83 0.033 75);
  --p3_gold-6: oklch(0.772 0.034 75);
  --p3_gold-7: oklch(0.714 0.034 75);
  --p3_gold-8: oklch(0.656 0.035 75);
  --p3_gold-9: oklch(0.598 0.035 75);
  --p3_gold-10: oklch(0.54 0.036 75);
  --p3_gold-11: oklch(0.482 0.036 75);
  --p3_gold-12: oklch(0.424 0.036 75);
  --p3_gold-13: oklch(0.366 0.037 75);
  --p3_gold-14: oklch(0.308 0.037 75);
  --p3_gold-15: oklch(0.25 0.038 75);
  --p3_gold-16: oklch(0.192 0.038 75);
  --p3_emerald-1: oklch(0.98 0.032 140);
  --p3_emerald-2: oklch(0.95 0.032 140);
  --p3_emerald-3: oklch(0.925 0.032 140);
  --p3_emerald-4: oklch(0.888 0.033 140);
  --p3_emerald-5: oklch(0.83 0.033 140);
  --p3_emerald-6: oklch(0.772 0.034 140);
  --p3_emerald-7: oklch(0.714 0.034 140);
  --p3_emerald-8: oklch(0.656 0.035 140);
  --p3_emerald-9: oklch(0.598 0.035 140);
  --p3_emerald-10: oklch(0.54 0.036 140);
  --p3_emerald-11: oklch(0.482 0.036 140);
  --p3_emerald-12: oklch(0.424 0.036 140);
  --p3_emerald-13: oklch(0.366 0.037 140);
  --p3_emerald-14: oklch(0.308 0.037 140);
  --p3_emerald-15: oklch(0.25 0.038 140);
  --p3_emerald-16: oklch(0.192 0.038 140);
  --p3_sapphire-1: oklch(0.98 0.032 220);
  --p3_sapphire-2: oklch(0.95 0.032 220);
  --p3_sapphire-3: oklch(0.925 0.032 220);
  --p3_sapphire-4: oklch(0.888 0.033 220);
  --p3_sapphire-5: oklch(0.83 0.033 220);
  --p3_sapphire-6: oklch(0.772 0.034 220);
  --p3_sapphire-7: oklch(0.714 0.034 220);
  --p3_sapphire-8: oklch(0.656 0.035 220);
  --p3_sapphire-9: oklch(0.598 0.035 220);
  --p3_sapphire-10: oklch(0.54 0.036 220);
  --p3_sapphire-11: oklch(0.482 0.036 220);
  --p3_sapphire-12: oklch(0.424 0.036 220);
  --p3_sapphire-13: oklch(0.366 0.037 220);
  --p3_sapphire-14: oklch(0.308 0.037 220);
  --p3_sapphire-15: oklch(0.25 0.038 220);
  --p3_sapphire-16: oklch(0.192 0.038 220);
  --p3_amethyst-1: oklch(0.98 0.032 300);
  --p3_amethyst-2: oklch(0.95 0.032 300);
  --p3_amethyst-3: oklch(0.925 0.032 300);
  --p3_amethyst-4: oklch(0.888 0.033 300);
  --p3_amethyst-5: oklch(0.83 0.033 300);
  --p3_amethyst-6: oklch(0.772 0.034 300);
  --p3_amethyst-7: oklch(0.714 0.034 300);
  --p3_amethyst-8: oklch(0.656 0.035 300);
  --p3_amethyst-9: oklch(0.598 0.035 300);
  --p3_amethyst-10: oklch(0.54 0.036 300);
  --p3_amethyst-11: oklch(0.482 0.036 300);
  --p3_amethyst-12: oklch(0.424 0.036 300);
  --p3_amethyst-13: oklch(0.366 0.037 300);
  --p3_amethyst-14: oklch(0.308 0.037 300);
  --p3_amethyst-15: oklch(0.25 0.038 300);
  --p3_amethyst-16: oklch(0.192 0.038 300);
  --p3_stone-1: oklch(0.98 0.007 20);
  --p3_stone-2: oklch(0.95 0.007 20);
  --p3_stone-3: oklch(0.925 0.007 20);
  --p3_stone-4: oklch(0.888 0.007 20);
  --p3_stone-5: oklch(0.83 0.007 20);
  --p3_stone-6: oklch(0.772 0.007 20);
  --p3_stone-7: oklch(0.714 0.007 20);
  --p3_stone-8: oklch(0.656 0.007 20);
  --p3_stone-9: oklch(0.598 0.007 20);
  --p3_stone-10: oklch(0.54 0.007 20);
  --p3_stone-11: oklch(0.482 0.007 20);
  --p3_stone-12: oklch(0.424 0.007 20);
  --p3_stone-13: oklch(0.366 0.007 20);
  --p3_stone-14: oklch(0.308 0.007 20);
  --p3_stone-15: oklch(0.25 0.007 20);
  --p3_stone-16: oklch(0.192 0.007 20);
  --p3_gray-1: oklch(0.98 0 0);
  --p3_gray-2: oklch(0.95 0 0);
  --p3_gray-3: oklch(0.925 0 0);
  --p3_gray-4: oklch(0.888 0 0);
  --p3_gray-5: oklch(0.83 0 0);
  --p3_gray-6: oklch(0.772 0 0);
  --p3_gray-7: oklch(0.714 0 0);
  --p3_gray-8: oklch(0.656 0 0);
  --p3_gray-9: oklch(0.598 0 0);
  --p3_gray-10: oklch(0.54 0 0);
  --p3_gray-11: oklch(0.482 0 0);
  --p3_gray-12: oklch(0.424 0 0);
  --p3_gray-13: oklch(0.366 0 0);
  --p3_gray-14: oklch(0.308 0 0);
  --p3_gray-15: oklch(0.25 0 0);
  --p3_gray-16: oklch(0.192 0 0);
  --p3_slate-1: oklch(0.98 0.011 235);
  --p3_slate-2: oklch(0.95 0.011 235);
  --p3_slate-3: oklch(0.925 0.011 235);
  --p3_slate-4: oklch(0.888 0.011 235);
  --p3_slate-5: oklch(0.83 0.011 235);
  --p3_slate-6: oklch(0.772 0.011 235);
  --p3_slate-7: oklch(0.714 0.011 235);
  --p3_slate-8: oklch(0.656 0.011 235);
  --p3_slate-9: oklch(0.598 0.011 235);
  --p3_slate-10: oklch(0.54 0.011 235);
  --p3_slate-11: oklch(0.482 0.011 235);
  --p3_slate-12: oklch(0.424 0.011 235);
  --p3_slate-13: oklch(0.366 0.011 235);
  --p3_slate-14: oklch(0.308 0.011 235);
  --p3_slate-15: oklch(0.25 0.011 235);
  --p3_slate-16: oklch(0.192 0.011 235);
  --p3_mauve-1: oklch(0.98 0.013 275);
  --p3_mauve-2: oklch(0.95 0.013 275);
  --p3_mauve-3: oklch(0.925 0.013 275);
  --p3_mauve-4: oklch(0.888 0.013 275);
  --p3_mauve-5: oklch(0.83 0.013 275);
  --p3_mauve-6: oklch(0.772 0.013 275);
  --p3_mauve-7: oklch(0.714 0.013 275);
  --p3_mauve-8: oklch(0.656 0.013 275);
  --p3_mauve-9: oklch(0.598 0.013 275);
  --p3_mauve-10: oklch(0.54 0.013 275);
  --p3_mauve-11: oklch(0.482 0.013 275);
  --p3_mauve-12: oklch(0.424 0.013 275);
  --p3_mauve-13: oklch(0.366 0.013 275);
  --p3_mauve-14: oklch(0.308 0.013 275);
  --p3_mauve-15: oklch(0.25 0.013 275);
  --p3_mauve-16: oklch(0.192 0.013 275);
  --p3_red-1: oklch(0.98 0.053 25);
  --p3_red-2: oklch(0.95 0.107 25);
  --p3_red-3: oklch(0.925 0.187 25);
  --p3_red-4: oklch(0.888 0.2 25);
  --p3_red-5: oklch(0.83 0.227 25);
  --p3_red-6: oklch(0.772 0.227 25);
  --p3_red-7: oklch(0.714 0.227 25);
  --p3_red-8: oklch(0.656 0.227 25);
  --p3_red-9: oklch(0.598 0.227 25);
  --p3_red-10: oklch(0.54 0.227 25);
  --p3_red-11: oklch(0.482 0.213 25);
  --p3_red-12: oklch(0.424 0.187 25);
  --p3_red-13: oklch(0.366 0.16 25);
  --p3_red-14: oklch(0.308 0.133 25);
  --p3_red-15: oklch(0.25 0.107 25);
  --p3_red-16: oklch(0.192 0.08 25);
  --p3_orange-1: oklch(0.98 0.049 50);
  --p3_orange-2: oklch(0.95 0.098 50);
  --p3_orange-3: oklch(0.925 0.171 50);
  --p3_orange-4: oklch(0.888 0.183 50);
  --p3_orange-5: oklch(0.83 0.208 50);
  --p3_orange-6: oklch(0.772 0.208 50);
  --p3_orange-7: oklch(0.714 0.208 50);
  --p3_orange-8: oklch(0.656 0.208 50);
  --p3_orange-9: oklch(0.598 0.208 50);
  --p3_orange-10: oklch(0.54 0.208 50);
  --p3_orange-11: oklch(0.482 0.196 50);
  --p3_orange-12: oklch(0.424 0.171 50);
  --p3_orange-13: oklch(0.366 0.147 50);
  --p3_orange-14: oklch(0.308 0.122 50);
  --p3_orange-15: oklch(0.25 0.098 50);
  --p3_orange-16: oklch(0.192 0.073 50);
  --p3_amber-1: oklch(0.98 0.053 63);
  --p3_amber-2: oklch(0.95 0.107 68);
  --p3_amber-3: oklch(0.925 0.187 73);
  --p3_amber-4: oklch(0.888 0.2 78);
  --p3_amber-5: oklch(0.83 0.227 83);
  --p3_amber-6: oklch(0.772 0.227 83);
  --p3_amber-7: oklch(0.714 0.227 83);
  --p3_amber-8: oklch(0.656 0.227 83);
  --p3_amber-9: oklch(0.598 0.227 83);
  --p3_amber-10: oklch(0.54 0.227 83);
  --p3_amber-11: oklch(0.482 0.213 83);
  --p3_amber-12: oklch(0.424 0.187 83);
  --p3_amber-13: oklch(0.366 0.16 83);
  --p3_amber-14: oklch(0.308 0.133 83);
  --p3_amber-15: oklch(0.25 0.107 83);
  --p3_amber-16: oklch(0.192 0.08 83);
  --p3_yellow-1: oklch(0.98 0.051 100);
  --p3_yellow-2: oklch(0.95 0.102 99);
  --p3_yellow-3: oklch(0.925 0.179 98);
  --p3_yellow-4: oklch(0.888 0.192 97);
  --p3_yellow-5: oklch(0.83 0.217 95);
  --p3_yellow-6: oklch(0.772 0.217 95);
  --p3_yellow-7: oklch(0.714 0.217 95);
  --p3_yellow-8: oklch(0.656 0.217 95);
  --p3_yellow-9: oklch(0.598 0.217 95);
  --p3_yellow-10: oklch(0.54 0.217 95);
  --p3_yellow-11: oklch(0.482 0.204 95);
  --p3_yellow-12: oklch(0.424 0.179 95);
  --p3_yellow-13: oklch(0.366 0.153 95);
  --p3_yellow-14: oklch(0.308 0.128 95);
  --p3_yellow-15: oklch(0.25 0.102 95);
  --p3_yellow-16: oklch(0.192 0.077 95);
  --p3_lime-1: oklch(0.98 0.053 125);
  --p3_lime-2: oklch(0.95 0.107 125);
  --p3_lime-3: oklch(0.925 0.187 125);
  --p3_lime-4: oklch(0.888 0.2 125);
  --p3_lime-5: oklch(0.83 0.227 125);
  --p3_lime-6: oklch(0.772 0.227 125);
  --p3_lime-7: oklch(0.714 0.227 125);
  --p3_lime-8: oklch(0.656 0.227 125);
  --p3_lime-9: oklch(0.598 0.227 125);
  --p3_lime-10: oklch(0.54 0.227 125);
  --p3_lime-11: oklch(0.482 0.213 125);
  --p3_lime-12: oklch(0.424 0.187 125);
  --p3_lime-13: oklch(0.366 0.16 125);
  --p3_lime-14: oklch(0.308 0.133 125);
  --p3_lime-15: oklch(0.25 0.107 125);
  --p3_lime-16: oklch(0.192 0.08 125);
  --p3_grass-1: oklch(0.98 0.051 140);
  --p3_grass-2: oklch(0.95 0.102 140);
  --p3_grass-3: oklch(0.925 0.179 140);
  --p3_grass-4: oklch(0.888 0.192 140);
  --p3_grass-5: oklch(0.83 0.217 140);
  --p3_grass-6: oklch(0.772 0.217 140);
  --p3_grass-7: oklch(0.714 0.217 140);
  --p3_grass-8: oklch(0.656 0.217 140);
  --p3_grass-9: oklch(0.598 0.217 140);
  --p3_grass-10: oklch(0.54 0.217 140);
  --p3_grass-11: oklch(0.482 0.204 140);
  --p3_grass-12: oklch(0.424 0.179 140);
  --p3_grass-13: oklch(0.366 0.153 140);
  --p3_grass-14: oklch(0.308 0.128 140);
  --p3_grass-15: oklch(0.25 0.102 140);
  --p3_grass-16: oklch(0.192 0.077 140);
  --p3_green-1: oklch(0.98 0.051 155);
  --p3_green-2: oklch(0.95 0.102 155);
  --p3_green-3: oklch(0.925 0.179 155);
  --p3_green-4: oklch(0.888 0.192 155);
  --p3_green-5: oklch(0.83 0.217 155);
  --p3_green-6: oklch(0.772 0.217 155);
  --p3_green-7: oklch(0.714 0.217 155);
  --p3_green-8: oklch(0.656 0.217 155);
  --p3_green-9: oklch(0.598 0.217 155);
  --p3_green-10: oklch(0.54 0.217 155);
  --p3_green-11: oklch(0.482 0.204 155);
  --p3_green-12: oklch(0.424 0.179 155);
  --p3_green-13: oklch(0.366 0.153 155);
  --p3_green-14: oklch(0.308 0.128 155);
  --p3_green-15: oklch(0.25 0.102 155);
  --p3_green-16: oklch(0.192 0.077 155);
  --p3_teal-1: oklch(0.98 0.051 170);
  --p3_teal-2: oklch(0.95 0.102 170);
  --p3_teal-3: oklch(0.925 0.153 170);
  --p3_teal-4: oklch(0.888 0.192 170);
  --p3_teal-5: oklch(0.83 0.217 170);
  --p3_teal-6: oklch(0.772 0.217 170);
  --p3_teal-7: oklch(0.714 0.217 170);
  --p3_teal-8: oklch(0.656 0.217 170);
  --p3_teal-9: oklch(0.598 0.217 170);
  --p3_teal-10: oklch(0.54 0.217 170);
  --p3_teal-11: oklch(0.482 0.204 170);
  --p3_teal-12: oklch(0.424 0.179 170);
  --p3_teal-13: oklch(0.366 0.153 170);
  --p3_teal-14: oklch(0.308 0.128 170);
  --p3_teal-15: oklch(0.25 0.102 170);
  --p3_teal-16: oklch(0.192 0.077 170);
  --p3_mint-1: oklch(0.98 0.041 188);
  --p3_mint-2: oklch(0.95 0.082 188);
  --p3_mint-3: oklch(0.925 0.113 188);
  --p3_mint-4: oklch(0.888 0.154 188);
  --p3_mint-5: oklch(0.83 0.175 188);
  --p3_mint-6: oklch(0.772 0.175 188);
  --p3_mint-7: oklch(0.714 0.175 188);
  --p3_mint-8: oklch(0.656 0.175 188);
  --p3_mint-9: oklch(0.598 0.175 188);
  --p3_mint-10: oklch(0.54 0.175 188);
  --p3_mint-11: oklch(0.482 0.164 188);
  --p3_mint-12: oklch(0.424 0.144 188);
  --p3_mint-13: oklch(0.366 0.123 188);
  --p3_mint-14: oklch(0.308 0.103 188);
  --p3_mint-15: oklch(0.25 0.082 188);
  --p3_mint-16: oklch(0.192 0.062 188);
  --p3_cyan-1: oklch(0.98 0.041 210);
  --p3_cyan-2: oklch(0.95 0.072 210);
  --p3_cyan-3: oklch(0.925 0.107 210);
  --p3_cyan-4: oklch(0.888 0.134 210);
  --p3_cyan-5: oklch(0.83 0.164 210);
  --p3_cyan-6: oklch(0.772 0.175 210);
  --p3_cyan-7: oklch(0.714 0.175 210);
  --p3_cyan-8: oklch(0.656 0.175 210);
  --p3_cyan-9: oklch(0.598 0.175 210);
  --p3_cyan-10: oklch(0.54 0.175 210);
  --p3_cyan-11: oklch(0.482 0.164 210);
  --p3_cyan-12: oklch(0.424 0.144 210);
  --p3_cyan-13: oklch(0.366 0.123 210);
  --p3_cyan-14: oklch(0.308 0.103 210);
  --p3_cyan-15: oklch(0.25 0.082 210);
  --p3_cyan-16: oklch(0.192 0.062 210);
  --p3_sky-1: oklch(0.98 0.044 251.25);
  --p3_sky-2: oklch(0.95 0.089 249.5);
  --p3_sky-3: oklch(0.925 0.122 247.75);
  --p3_sky-4: oklch(0.888 0.167 246);
  --p3_sky-5: oklch(0.83 0.189 244.25);
  --p3_sky-6: oklch(0.772 0.182 242.5);
  --p3_sky-7: oklch(0.714 0.189 240.75);
  --p3_sky-8: oklch(0.656 0.189 239);
  --p3_sky-9: oklch(0.598 0.189 237.25);
  --p3_sky-10: oklch(0.54 0.189 235.5);
  --p3_sky-11: oklch(0.482 0.178 233.75);
  --p3_sky-12: oklch(0.424 0.156 232);
  --p3_sky-13: oklch(0.366 0.133 230.25);
  --p3_sky-14: oklch(0.308 0.111 228.5);
  --p3_sky-15: oklch(0.25 0.089 226.75);
  --p3_sky-16: oklch(0.192 0.067 225);
  --p3_blue-1: oklch(0.98 0.049 271);
  --p3_blue-2: oklch(0.95 0.098 271);
  --p3_blue-3: oklch(0.925 0.171 271);
  --p3_blue-4: oklch(0.888 0.183 266);
  --p3_blue-5: oklch(0.83 0.208 261);
  --p3_blue-6: oklch(0.772 0.208 256);
  --p3_blue-7: oklch(0.714 0.208 256);
  --p3_blue-8: oklch(0.656 0.208 256);
  --p3_blue-9: oklch(0.598 0.208 256);
  --p3_blue-10: oklch(0.54 0.208 256);
  --p3_blue-11: oklch(0.482 0.196 256);
  --p3_blue-12: oklch(0.424 0.171 256);
  --p3_blue-13: oklch(0.366 0.147 256);
  --p3_blue-14: oklch(0.308 0.122 256);
  --p3_blue-15: oklch(0.25 0.098 256);
  --p3_blue-16: oklch(0.192 0.073 256);
  --p3_indigo-1: oklch(0.98 0.053 285);
  --p3_indigo-2: oklch(0.95 0.107 283);
  --p3_indigo-3: oklch(0.925 0.187 281);
  --p3_indigo-4: oklch(0.888 0.2 279);
  --p3_indigo-5: oklch(0.83 0.227 277);
  --p3_indigo-6: oklch(0.772 0.227 275);
  --p3_indigo-7: oklch(0.714 0.227 275);
  --p3_indigo-8: oklch(0.656 0.227 275);
  --p3_indigo-9: oklch(0.598 0.227 275);
  --p3_indigo-10: oklch(0.54 0.227 275);
  --p3_indigo-11: oklch(0.482 0.213 275);
  --p3_indigo-12: oklch(0.424 0.187 275);
  --p3_indigo-13: oklch(0.366 0.16 275);
  --p3_indigo-14: oklch(0.308 0.133 275);
  --p3_indigo-15: oklch(0.25 0.107 275);
  --p3_indigo-16: oklch(0.192 0.08 275);
  --p3_purple-1: oklch(0.98 0.049 300);
  --p3_purple-2: oklch(0.95 0.098 300);
  --p3_purple-3: oklch(0.925 0.171 300);
  --p3_purple-4: oklch(0.888 0.183 300);
  --p3_purple-5: oklch(0.83 0.208 300);
  --p3_purple-6: oklch(0.772 0.208 300);
  --p3_purple-7: oklch(0.714 0.208 300);
  --p3_purple-8: oklch(0.656 0.208 300);
  --p3_purple-9: oklch(0.598 0.208 300);
  --p3_purple-10: oklch(0.54 0.208 300);
  --p3_purple-11: oklch(0.482 0.196 300);
  --p3_purple-12: oklch(0.424 0.171 300);
  --p3_purple-13: oklch(0.366 0.147 300);
  --p3_purple-14: oklch(0.308 0.122 300);
  --p3_purple-15: oklch(0.25 0.098 300);
  --p3_purple-16: oklch(0.192 0.073 300);
  --p3_magenta-1: oklch(0.98 0.049 325);
  --p3_magenta-2: oklch(0.95 0.098 325);
  --p3_magenta-3: oklch(0.925 0.171 325);
  --p3_magenta-4: oklch(0.888 0.183 325);
  --p3_magenta-5: oklch(0.83 0.208 325);
  --p3_magenta-6: oklch(0.772 0.208 325);
  --p3_magenta-7: oklch(0.714 0.208 325);
  --p3_magenta-8: oklch(0.656 0.208 325);
  --p3_magenta-9: oklch(0.598 0.208 325);
  --p3_magenta-10: oklch(0.54 0.208 325);
  --p3_magenta-11: oklch(0.482 0.196 325);
  --p3_magenta-12: oklch(0.424 0.171 325);
  --p3_magenta-13: oklch(0.366 0.147 325);
  --p3_magenta-14: oklch(0.308 0.122 325);
  --p3_magenta-15: oklch(0.25 0.098 325);
  --p3_magenta-16: oklch(0.192 0.073 325);
  --p3_pink-1: oklch(0.98 0.049 355);
  --p3_pink-2: oklch(0.95 0.098 355);
  --p3_pink-3: oklch(0.925 0.171 355);
  --p3_pink-4: oklch(0.888 0.183 355);
  --p3_pink-5: oklch(0.83 0.208 355);
  --p3_pink-6: oklch(0.772 0.208 350);
  --p3_pink-7: oklch(0.714 0.208 350);
  --p3_pink-8: oklch(0.656 0.208 350);
  --p3_pink-9: oklch(0.598 0.208 350);
  --p3_pink-10: oklch(0.54 0.208 350);
  --p3_pink-11: oklch(0.482 0.196 350);
  --p3_pink-12: oklch(0.424 0.171 350);
  --p3_pink-13: oklch(0.366 0.147 350);
  --p3_pink-14: oklch(0.308 0.122 350);
  --p3_pink-15: oklch(0.25 0.098 350);
  --p3_pink-16: oklch(0.192 0.073 350);
  --p3_crimson-1: oklch(0.98 0.053 370);
  --p3_crimson-2: oklch(0.95 0.107 370);
  --p3_crimson-3: oklch(0.925 0.187 370);
  --p3_crimson-4: oklch(0.888 0.2 370);
  --p3_crimson-5: oklch(0.83 0.227 370);
  --p3_crimson-6: oklch(0.772 0.227 370);
  --p3_crimson-7: oklch(0.714 0.227 370);
  --p3_crimson-8: oklch(0.656 0.227 370);
  --p3_crimson-9: oklch(0.598 0.227 370);
  --p3_crimson-10: oklch(0.54 0.227 370);
  --p3_crimson-11: oklch(0.482 0.213 370);
  --p3_crimson-12: oklch(0.424 0.187 370);
  --p3_crimson-13: oklch(0.366 0.16 370);
  --p3_crimson-14: oklch(0.308 0.133 370);
  --p3_crimson-15: oklch(0.25 0.107 370);
  --p3_crimson-16: oklch(0.192 0.08 370);
  --shadow: 0 0.5px 1px rgba(0,0,0,0.04),0 1px 2px rgba(0,0,0,0.04),0 2px 4px rgba(0,0,0,0.04),0 4px 8px rgba(0,0,0,0.04);
  --shadow-2: 0 1px 2px rgba(0,0,0,0.04),0 2px 4px rgba(0,0,0,0.04),0 4px 8px rgba(0,0,0,0.04),0 8px 16px rgba(0,0,0,0.04);
  --shadow-3: 0 1.5px 3px rgba(0,0,0,0.04),0 3px 6px rgba(0,0,0,0.04),0 6px 12px rgba(0,0,0,0.04),0 12px 24px rgba(0,0,0,0.04);
  --shadow-4: 0 2px 4px rgba(0,0,0,0.04),0 4px 8px rgba(0,0,0,0.04),0 8px 16px rgba(0,0,0,0.04),0 16px 32px rgba(0,0,0,0.04);
  --shadow-dreamy: 0 4px 8px rgba(0,0,0,0.04),0 16px 32px rgba(0,0,0,0.04);
  --shadow-dreamy-2: 0 8px 16px rgba(0,0,0,0.04),0 32px 64px rgba(0,0,0,0.04);
  --shadow-dreamy-3: 0 12px 24px rgba(0,0,0,0.04),0 48px 96px rgba(0,0,0,0.04);
  --shadow-dreamy-4: 0 16px 32px rgba(0,0,0,0.04),0 64px 128px rgba(0,0,0,0.04);
  --shadow-long: 0 0 4px rgba(0,0,0,0.04),0 1px 2px rgba(0,0,0,0.04),0 4px 2px rgba(0,0,0,0.04),0 8px 4px rgba(0,0,0,0.04),0 16px 8px rgba(0,0,0,0.04),0 32px 16px rgba(0,0,0,0.04),0 64px 32px rgba(0,0,0,0.04);
  --shadow-long-2: 0 0 8px rgba(0,0,0,0.04),0 2px 4px rgba(0,0,0,0.04),0 8px 4px rgba(0,0,0,0.04),0 16px 8px rgba(0,0,0,0.04),0 32px 16px rgba(0,0,0,0.04),0 64px 32px rgba(0,0,0,0.04),0 128px 64px rgba(0,0,0,0.04);
  --shadow-long-3: 0 0 12px rgba(0,0,0,0.04),0 3px 6px rgba(0,0,0,0.04),0 12px 6px rgba(0,0,0,0.04),0 24px 12px rgba(0,0,0,0.04),0 48px 24px rgba(0,0,0,0.04),0 96px 48px rgba(0,0,0,0.04),0 192px 96px rgba(0,0,0,0.04);
  --shadow-long-4: 0 0 16px rgba(0,0,0,0.04),0 4px 8px rgba(0,0,0,0.04),0 16px 8px rgba(0,0,0,0.04),0 32px 16px rgba(0,0,0,0.04),0 64px 32px rgba(0,0,0,0.04),0 128px 64px rgba(0,0,0,0.04),0 256px 128px rgba(0,0,0,0.04);
  --shadow-sharp: 0 0 0 1px rgba(0,0,0,0.04),0 1px 1px -0.5px rgba(0,0,0,0.04),0 3px 3px -1.5px rgba(0,0,0,0.04),0 6px 6px -3px rgba(0,0,0,0.04),0 12px 12px -6px rgba(0,0,0,0.04),0 24px 24px -12px rgba(0,0,0,0.04);
  --shadow-sharp-2: 0 0 0 1px rgba(0,0,0,0.048),0 2px 2px -0.5px rgba(0,0,0,0.04),0 6px 6px -1.5px rgba(0,0,0,0.04),0 12px 12px -3px rgba(0,0,0,0.04),0 24px 24px -6px rgba(0,0,0,0.04),0 48px 48px -12px rgba(0,0,0,0.04);
  --shadow-sharp-3: 0 0 0 1px rgba(0,0,0,0.072),0 3px 3px -0.5px rgba(0,0,0,0.04),0 9px 9px -1.5px rgba(0,0,0,0.04),0 18px 18px -3px rgba(0,0,0,0.04),0 36px 36px -6px rgba(0,0,0,0.04),0 72px 72px -12px rgba(0,0,0,0.04);
  --shadow-sharp-4: 0 0 0 1px rgba(0,0,0,0.096),0 4px 4px -0.5px rgba(0,0,0,0.04),0 12px 12px -1.5px rgba(0,0,0,0.04),0 24px 24px -3px rgba(0,0,0,0.04),0 48px 48px -6px rgba(0,0,0,0.04),0 96px 96px -12px rgba(0,0,0,0.04);
  --length-1: 0.125rem;
  --length-scale-1: 0.125;
  --length-1_5: 0.0625rem;
  --length-scale-1_5: 0.0625;
  --length-2: 0.25rem;
  --length-scale-2: 0.25;
  --length-2_5: 0.1875rem;
  --length-scale-2_5: 0.1875;
  --length-3: 0.375rem;
  --length-scale-3: 0.375;
  --length-3_5: 0.3125rem;
  --length-scale-3_5: 0.3125;
  --length-4: 0.5rem;
  --length-scale-4: 0.5;
  --length-4_5: 0.4375rem;
  --length-scale-4_5: 0.4375;
  --length-5: 0.625rem;
  --length-scale-5: 0.625;
  --length-6: 0.75rem;
  --length-scale-6: 0.75;
  --length-7: 0.875rem;
  --length-scale-7: 0.875;
  --length-8: 1rem;
  --length-scale-8: 1;
  --length-9: 1.25rem;
  --length-scale-9: 1.25;
  --length-10: 1.5rem;
  --length-scale-10: 1.5;
  --length-11: 1.75rem;
  --length-scale-11: 1.75;
  --length-12: 2rem;
  --length-scale-12: 2;
  --length-13: 2.5rem;
  --length-scale-13: 2.5;
  --length-14: 3rem;
  --length-scale-14: 3;
  --length-15: 3.75rem;
  --length-scale-15: 3.75;
  --length-16: 4.5rem;
  --length-scale-16: 4.5;
  --length-17: 5.25rem;
  --length-scale-17: 5.25;
  --length-18: 6rem;
  --length-scale-18: 6;
  --length-19: 6.75rem;
  --length-scale-19: 6.75;
  --length-20: 7.5rem;
  --length-scale-20: 7.5;
  --length-21: 9rem;
  --length-scale-21: 9;
  --length-22: 10.5rem;
  --length-scale-22: 10.5;
  --length-23: 12rem;
  --length-scale-23: 12;
  --length-24: 13.5rem;
  --length-scale-24: 13.5;
  --length-25: 15rem;
  --length-scale-25: 15;
  --length-26: 18rem;
  --length-scale-26: 18;
  --length-27: 21rem;
  --length-scale-27: 21;
  --length-28: 24rem;
  --length-scale-28: 24;
  --length-29: 27rem;
  --length-scale-29: 27;
  --length-30: 30rem;
  --length-scale-30: 30;
  --length-31: 36rem;
  --length-scale-31: 36;
  --length-32: 42rem;
  --length-scale-32: 42;
  --font-sans: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --font-mono: JetBrains Mono, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  --font-serif: Georgia, Cambria, Times New Roman, Times, serif;
  --font-size-1: 0.375rem;
  --font-size-scale-1: 0.375;
  --font-size-1_5: 0.4375rem;
  --font-size-scale-1_5: 0.4375;
  --font-size-2: 0.5rem;
  --font-size-scale-2: 0.5;
  --font-size-2_5: 0.5625rem;
  --font-size-scale-2_5: 0.5625;
  --font-size-3: 0.625rem;
  --font-size-scale-3: 0.625;
  --font-size-3_5: 0.6875rem;
  --font-size-scale-3_5: 0.6875;
  --font-size-4: 0.75rem;
  --font-size-scale-4: 0.75;
  --font-size-4_5: 0.8125rem;
  --font-size-scale-4_5: 0.8125;
  --font-size-5: 0.875rem;
  --font-size-scale-5: 0.875;
  --font-size-6: 1rem;
  --font-size-scale-6: 1;
  --font-size-7: 1.125rem;
  --font-size-scale-7: 1.125;
  --font-size-8: 1.25rem;
  --font-size-scale-8: 1.25;
  --font-size-9: 1.5rem;
  --font-size-scale-9: 1.5;
  --font-size-10: 1.75rem;
  --font-size-scale-10: 1.75;
  --font-size-11: 2rem;
  --font-size-scale-11: 2;
  --font-size-12: 2.5rem;
  --font-size-scale-12: 2.5;
  --font-size-13: 3rem;
  --font-size-scale-13: 3;
  --font-size-14: 3.5rem;
  --font-size-scale-14: 3.5;
  --font-size-15: 4rem;
  --font-size-scale-15: 4;
  --font-size-16: 4.5rem;
  --font-size-scale-16: 4.5;
  --font-size-5xs: 0.5625rem;
  --font-size-scale-5xs: 0.5625;
  --font-size-4xs: 0.625rem;
  --font-size-scale-4xs: 0.625;
  --font-size-3xs: 0.6875rem;
  --font-size-scale-3xs: 0.6875;
  --font-size-2xs: 0.75rem;
  --font-size-scale-2xs: 0.75;
  --font-size-xs: 0.8125rem;
  --font-size-scale-xs: 0.8125;
  --font-size-sm: 0.875rem;
  --font-size-scale-sm: 0.875;
  --font-size-md: 1rem;
  --font-size-scale-md: 1;
  --font-size-lg: 1.25rem;
  --font-size-scale-lg: 1.25;
  --font-size-xl: 1.75rem;
  --font-size-scale-xl: 1.75;
  --font-size-2xl: 2rem;
  --font-size-scale-2xl: 2;
  --font-size-3xl: 2.5rem;
  --font-size-scale-3xl: 2.5;
  --font-size-4xl: 3.5rem;
  --font-size-scale-4xl: 3.5;
  --font-size-5xl: 4.5rem;
  --font-size-scale-5xl: 4.5;
  --leading-1: 0.875em;
  --leading-2: 1em;
  --leading-3: 1.125em;
  --leading-4: 1.25em;
  --leading-5: 1.375em;
  --leading-6: 1.5em;
  --leading-7: 1.75em;
  --leading-8: 2em;
  --leading-9: 2.5em;
  --leading-tight: 1em;
  --leading-snug: 1.25em;
  --leading-normal: 1.5em;
  --leading-relaxed: 1.75em;
  --leading-loose: 2em;
  --tracking-1: -0.05em;
  --tracking-2: -0.025em;
  --tracking-3: 0em;
  --tracking-4: 0.025em;
  --tracking-5: 0.05em;
  --tracking-6: 0.1em;
  --tracking-7: 0.25em;
  --tracking-8: 0.5em;
  --tracking-9: 1em;
  --tracking-tight: -0.05em;
  --tracking-snug: -0.025em;
  --tracking-normal: 0em;
  --tracking-relaxed: 0.025em;
  --tracking-loose: 0.05em;
  --font-weight-1: 100;
  --font-weight-2: 200;
  --font-weight-3: 300;
  --font-weight-4: 400;
  --font-weight-5: 500;
  --font-weight-6: 600;
  --font-weight-7: 700;
  --font-weight-8: 800;
  --font-weight-9: 900;
  --font-weight-hairline: 100;
  --font-weight-thin: 200;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;
  --rounded: 0.25rem;
  --rounded-xs: 0.075rem;
  --rounded-sm: 0.125rem;
  --rounded-md: 0.25rem;
  --rounded-lg: 0.5rem;
  --rounded-xl: 0.75rem;
  --rounded-2xl: 1rem;
  --rounded-3xl: 1.25rem;
  --rounded-4xl: 1.5rem;
  --rounded-5xl: 2rem;
  --rounded-full: 100%;
  --spring: 0.6666666666666666s linear(0.000 0.0%, 0.110, 0.343, 0.593, 0.802, 0.948, 1.034, 1.071, 1.076, 1.064, 1.045, 1.026, 1.011, 1.002, 0.996, 0.994, 0.994, 0.996, 0.997, 0.998, 0.999);
  --spring-wobbly: 1.3333333333333333s linear(0.000 0.0%, 0.117, 0.376, 0.662, 0.903, 1.065, 1.146, 1.162, 1.137, 1.092, 1.046, 1.010, 0.986, 0.975, 0.974, 0.979, 0.986, 0.994, 0.999, 1.003, 1.004, 1.004, 1.003, 1.002, 1.001 96.0%, 1.000);
  --spring-wobbly-2: 2.8333333333333326s linear(0.000 0.0%, 0.170, 0.568, 1.008, 1.337, 1.475, 1.425, 1.249, 1.036, 0.863, 0.778, 0.786, 0.861, 0.963, 1.052, 1.102, 1.106, 1.075, 1.027, 0.982, 0.954, 0.948, 0.960, 0.982, 1.005, 1.020, 1.025, 1.021, 1.011, 1.000, 0.991, 0.988, 0.989, 0.994, 0.999, 1.003, 1.006, 1.005, 1.003, 1.001 78.0%, 0.999, 0.997, 0.997, 0.998, 0.999, 1.000 90.0%, 1.001, 1.001, 1.001, 1.000 98.0%, 1.000);
  --spring-stiff: 0.5s linear(0.000 0.0%, 0.137, 0.370, 0.577, 0.729, 0.832, 0.899, 0.940, 0.965, 0.980, 0.988, 0.993, 0.996, 0.998, 0.999, 0.999, 1.000, 1.000, 1.000, 1.000, 1.000);
  --spring-stiff-2: 0.3333333333333333s linear(0.000 0.0%, 0.125, 0.344, 0.545, 0.699, 0.807, 0.879, 0.926, 0.955, 0.973, 0.984, 0.990, 0.994, 0.997, 0.998, 0.999, 0.999, 1.000, 1.000, 1.000, 1.000);
  --font-size-scale-1: 0.375;
  --font-size-scale-1_5: 0.3125;
  --font-size-scale-2: 0.5;
  --font-size-scale-2_5: 0.4375;
  --font-size-scale-3: 0.625;
  --font-size-scale-3_5: 0.5625;
  --font-size-scale-4: 0.75;
  --font-size-scale-4_5: 0.6875;
  --font-size-scale-5: 0.875;
  --font-size-scale-6: 1;
  --font-size-scale-7: 1.125;
  --font-size-scale-8: 1.25;
  --font-size-scale-9: 1.5;
  --font-size-scale-10: 1.75;
  --font-size-scale-11: 2;
  --font-size-scale-12: 2.5;
  --font-size-scale-13: 3;
  --font-size-scale-14: 3.5;
  --font-size-scale-15: 4;
  --font-size-scale-16: 4.5;
  --font-size-scale-5xs: 0.5625;
  --font-size-scale-4xs: 0.625;
  --font-size-scale-3xs: 0.6875;
  --font-size-scale-2xs: 0.75;
  --font-size-scale-xs: 0.8125;
  --font-size-scale-sm: 0.875;
  --font-size-scale-md: 1;
  --font-size-scale-lg: 1.25;
  --font-size-scale-xl: 1.75;
  --font-size-scale-2xl: 2;
  --font-size-scale-3xl: 2.5;
  --font-size-scale-4xl: 3.5;
  --font-size-scale-5xl: 4.5;
  --length-scale-1: 0.125;
  --length-scale-1_5: 0.0625;
  --length-scale-2: 0.25;
  --length-scale-2_5: 0.1875;
  --length-scale-3: 0.375;
  --length-scale-3_5: 0.3125;
  --length-scale-4: 0.5;
  --length-scale-4_5: 0.4375;
  --length-scale-5: 0.625;
  --length-scale-6: 0.75;
  --length-scale-7: 0.875;
  --length-scale-8: 1;
  --length-scale-9: 1.25;
  --length-scale-10: 1.5;
  --length-scale-11: 1.75;
  --length-scale-12: 2;
  --length-scale-13: 2.5;
  --length-scale-14: 3;
  --length-scale-15: 3.75;
  --length-scale-16: 4.5;
  --length-scale-17: 5.25;
  --length-scale-18: 6;
  --length-scale-19: 6.75;
  --length-scale-20: 7.5;
  --length-scale-21: 9;
  --length-scale-22: 10.5;
  --length-scale-23: 12;
  --length-scale-24: 13.5;
  --length-scale-25: 15;
  --length-scale-26: 18;
  --length-scale-27: 21;
  --length-scale-28: 24;
  --length-scale-29: 27;
  --length-scale-30: 30;
  --length-scale-31: 36;
  --length-scale-32: 42;
  --layer-1: 1;
  --layer-2: 2;
  --layer-3: 3;
  --layer-4: 4;
  --layer-5: 5;
  --layer-max: 2147483647;
}
.prose :where(h1, h2, h3, h4, h5, h6) {
  font-weight: var(--font-weight-6);
}

.prose :where(h1, h2, h3) {
  line-height: var(--leading-snug);
}

.prose :where(h1) {
  font-size: calc(var(--font-size-scale-13) * 1em);
  margin-block-start: calc(var(--length-scale-12) * 1em);
  margin-block-end: calc(var(--length-scale-8) * 1em);
}

.prose :where(h2) {
  font-size: calc(var(--font-size-scale-11) * 1em);
  margin-block-start: calc(var(--length-scale-12) * 1em);
  margin-block-end: calc(var(--length-scale-8) * 1em);
}

.prose :where(h3) {
  font-size: calc(var(--font-size-scale-9) * 1em);
  margin-block-start: calc(var(--length-scale-12) * 1em);
  margin-block-end: calc(var(--length-scale-8) * 1em);
}

.prose :where(h4) {
  font-size: calc(var(--font-size-scale-8) * 1em);
  margin-block-start: calc(var(--length-scale-12) * 1em);
  margin-block-end: calc(var(--length-scale-8) * 1em);
}

.prose :where(h5) {
  font-size: calc(var(--font-size-scale-7) * 1em);
  margin-block-start: calc(var(--length-scale-12) * 1em);
  margin-block-end: calc(var(--length-scale-8) * 1em);
}

.prose :where(h6) {
  font-size: calc(var(--font-size-scale-6) * 1em);
  margin-block-start: calc(var(--length-scale-12) * 1em);
  margin-block-end: calc(var(--length-scale-8) * 1em);
}

.prose :where(p, ul, ol) {
  line-height: var(--leading-relaxed);
  margin-block-end: calc(var(--length-scale-10) * 1em);
}

.prose :where(ul, ol) {
  line-height: var(--leading-relaxed);
  padding-inline-start: calc(var(--length-scale-8) * 1em);
  list-style-type: disc;
}

.prose :where(ul ul, ol ol) {
  margin: 0;
}

.prose :where(li) {
  margin-block-end: calc(var(--length-scale-2) * 1em);
}

.prose :where(sup, sub) {
  position: relative;
  vertical-align: baseline;
  font-size: calc(var(--font-size-scale-2xs) * 1em);
}

.prose :where(sup) {
  top: calc(var(--length-scale-4) * -1em);
}

.prose :where(sub) {
  top: calc(var(--length-scale-2) * 1em);
}

.prose :where(img, picture, video, canvas, svg) {
  margin-block-end: calc(var(--length-scale-12) * 1em);
}

.prose :where(figure img, figure picture) {
  margin-block-end: calc(var(--length-scale-6) * 1em);
}

.prose :where(figcaption) {
  text-align: center;
  font-size: calc(var(--font-size-scale-sm) * 1em);
  margin-block-end: calc(var(--length-scale-12) * 1em);
}

.prose :where(hr) {
  margin-block-start: calc(var(--length-scale-16) * 1em);
  margin-block-end: calc(var(--length-scale-15) * 1em);
}

.prose :where(code) {
  font-size: calc(var(--font-size-scale-sm) * 1em);
}

.prose :where(pre) {
  margin-block-start: calc(var(--length-scale-10) * 1em);
  margin-block-end: calc(var(--length-scale-12) * 1em);
  line-height: var(--leading-loose);
}

.prose :where(blockquote) {
  border-inline-start: 2px solid;
  padding-inline-start: calc(var(--length-scale-8) * 1em);
  margin-block-end: calc(var(--length-scale-12) * 1em);
  line-height: var(--leading-relaxed);
}
